<%- include('layout/admin-nav') -%>
<main>
    <form method="POST" action="/addpage" enctype="multipart/form-data">
        <div class="form-field">
            <label for="title">Page Title:</label>
            <input type="text" class="form-input" name="title" >
        </div>
    
        <div class="form-field">
            <label for="slug">Slug:</label>
            <input type="text" class="form-input" name="slug" >
        </div>
    
        <div class="form-field">
            <label for="image">Image:</label>
            <input type="file" class="form-input" name="image" id="image">
        </div>
    
        <div class="form-field">
            <label for="content">Page Content:</label>
            <textarea id="content" name="content"></textarea>
    
        </div>
        <div class="form-field">
            <input type="submit" class="form-submit" value="Submit">
        </div>
    </form> 
    
    
    <script>
        ClassicEditor
            .create(document.querySelector('#content'))
            .catch(error => {
                console.error(error);
            });
    </script>
   

</main>

<%- include('layout/footer') -%>