<%- include('layout/admin-nav') -%>
<main>
    <form method="POST" action="/editcommon" enctype="multipart/form-data">
        <div class="form-field">
            <label for="tagline">Tagline:</label>
            <input type="text" class="form-input" name="tagline" value="<%= header.tagline %>">
        </div>
    
        <div class="form-field">
            <label for="tagline">Subtext:</label>
            <input type="text" class="form-input" name="subtext" value="<%= header.subtext %>">
        </div>
    
        <div class="form-field">
            <label for="logo">Logo:</label>
            <input type="file" class=form-input name="logo" id="logo">
        </div>
        <div class="form-field">
        <input type="submit" class="form-submit" name="submit" value="Submit">
        </div>
    </form>

</main>

<%- include('layout/footer') -%>