<%- include('layout/admin-nav') -%>
<main>
    <table id="subtable">
        <thead>
            <tr>
                <th>Page Title</th>
                <th colspan="2">Manage</th>
            </tr>
        </thead>
        <tbody>
            <% pages.forEach(function(page){%>
                <tr>
                    <td><%= page.title %></td>
                    <td><a href="/editpage/<%= page._id %>">Edit</a></td>
                    <td><a href="/deletepage/<%= page._id %>">Delete</a></td>
                </tr>
                <%
            });%>
        </tbody>

    </table>
</main>

<%- include('layout/footer') -%>