<%- include('layout/header') -%>
<main>
    <img src="images/love.jpg">
    <article>
        The Greek word translated “fruit” refers to the natural product of a living thing. Paul used “fruit” to help
        us understand the product of the Holy Spirit, who lives inside every believer. The fruit of the Spirit is
        produced by the Spirit, not by the Christian. The Greek word is singular, showing that “fruit” is a unified
        whole, not independent characteristics. As we grow, all the characteristics of Christ will be manifested in
        our lives. The Greek word translated “fruit” refers to the natural product of a living thing. Paul used “fruit” to help
        us understand the product of the Holy Spirit, who lives inside every believer. The fruit of the Spirit is
        produced by the Spirit, not by the Christian. The Greek word is singular, showing that “fruit” is a unified
        whole, not independent characteristics. As we grow, all the characteristics of Christ will be manifested in
        our lives.

    </article>

</main>

<%- include('layout/footer') -%>