<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/main.css">
    <script src="https://cdn.ckeditor.com/ckeditor5/15.0.0/classic/ckeditor.js"></script>
    <title>Practice</title>
</head>
<body>
    <header>
        <img src="images/<%= header.logo %>" alt="logo">
        <h1><%= header.tagline %></h1>
        <h2><%= header.subtext %></h2>
        <nav class="nav-menu">
            <ul>
                <li><a href="/admin">Admin</a></li>
                <li><a href="/editcommon">Edit Header</a></li>
                <li><a href="/addpage">Add Page</a></li>
                <li><a href="/viewpages">View Pages</a></li>
                
                
            </ul>
        </nav>
        
    </header>

