<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="styles/main.css">
    <title>Practice</title>
</head>
<body>
    <header>
        <img src="images/<%= header.logo %>" alt="logo">
        <h1><%= header.tagline %></h1>
        <h2><%= header.subtext %></h2>
        <nav class="nav-menu">
            <ul>
                <% pages.forEach(function(page){%>
                <li><a href="/">Home</a></li>
                <li><a href="<%= page.slug %>"><%= page.title %></a></li>
                <%}) %>
            </ul>
        </nav>
        
    </header>